/* Estilos Globais */
body {
    background-color: #EFF5FB; /* Fundo do aplicativo */
    color: #000000; /* Cor de texto preta para todo o conteúdo */
}

/* Navbar */
.navbar {
    background-color: #FF3630; /* Cor de fundo da Navbar */
}

.navbar-brand,
.nav-link {
    color: #ffffff !important; /* Texto da Navbar em branco */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Cor do ícone do menu hambúrguer */
}

.navbar-nav .nav-item .nav-link.active {
    color: #6FFFC1 !important; /* Links ativos na cor verde-água */
}

/* Barra de pesquisa */
.form-control {
    width: 100%;
    border-radius: 20px;
}

/* Cards (Botões de Dashboard) */
.card {
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 100%; /* Garantir que todos os cards tenham a mesma altura */
}

.card:hover {
    transform: scale(1.05); /* Efeito de zoom quando o usuário passa o mouse */
}

/* Cards dentro do container flex */
.row-cols-md-3 {
    display: flex;
    justify-content: space-between; /* Garante o espaçamento entre os cards */
}

/* Estilos para os Cards */
.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.card-text {
    color: #fff;
}

/* Cores para os diferentes tipos de card */
.bg-danger {
    background-color: #FF3630 !important; /* Para Cadastro de Produto */
}

.bg-success {
    background-color: #6FFFC1 !important; /* Para Consultar Estoque */
}

.bg-warning {
    background-color: #FF8E4C !important; /* Para Histórico de Movimentação */
}

.btn-light {
    color: #FF3630; /* Cor do botão nos cards */
    border: 2px solid #FF3630;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-light:hover {
    background-color: #FF3630;
    color: white;
}

/* Tabela */
.table {
    background-color: #ffffff;
    border-radius: 10px;
}

.table th, .table td {
    color: #000000; /* Cor de texto nas células da tabela */
}

/* Badge de status dos itens */
.badge {
    font-size: 0.85rem;
    padding: 8px;
    border-radius: 12px;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

/* Estilos para Visão Geral de Estoque */
.card.mb-3 {
    background-color: #ffffff; /* Cor de fundo do card */
    color: #000000; /* Cor do texto */
    border-radius: 10px; /* Borda arredondada */
}
